// 當前的版面設計以16px為基準字級
$baseRemRate: 16px;

@function strip-unit($number) {
  @return $number / ($number * 0 + 1);
}

@function px-to-rem($value) {
  @if unit($value) == 'px' {
    @return (strip-unit($value) / strip-unit($baseRemRate)) * 1rem;
  } @else if unit($value) == 'rem' {
    @return strip-unit($value) * $baseRemRate;
  } @else {
    @error "Invalid unit. Only 'px' and 'rem' units are supported.";
  }
}

/*

== 用法範例 ==

.test-rem {
  font-size: px-to-rem(21px); // Output: 1.3125rem
}

.test-px {
  width: px-to-rem(0.5rem); // Output: 8px
}

*/
