// 當前的版面設計以16px為基準字級，但是在實際開發等比布局時為了方便，我們直接除以100
$baseRemRate: 100px;

@function strip-unit($number) {
  @return math.div($number, ($number * 0 + 1));
}

@function px-to-rem($value) {
  @if unit($value) == 'px' {
    @return math.div(strip-unit($value), strip-unit($baseRemRate)) * 1rem;
  } @else if unit($value) == 'rem' {
    @return strip-unit($value) * $baseRemRate;
  } @else {
    @error "Invalid unit. Only 'px' and 'rem' units are supported.";
  }
}

/*

== 用法範例 ==

.test-rem {
  font-size: px-to-rem(21px); // Output: 1.3125rem
}

.test-px {
  width: px-to-rem(0.5rem); // Output: 8px
}

*/
