$header-bar-config: (
  main: (
    position: relative,
    width: 100%,
    height: base.px-to-rem(66px),
    background: useColor('alphaLight', 'alpha-05'),
    backdrop-filter: blur(10px),
    z-index: 10,
  ),
  title: (
    font-size: base.px-to-rem(base.$text-size-base),
    font-weight: base.$text-bold-700,
    color: useColor('alphaLight', 'alpha-80'),
  ),
  btn: (
    width: base.px-to-rem(40px),
    height: base.px-to-rem(40px),
    margin: 0 base.px-to-rem(10px),
    cursor: pointer,
  ),
  icons: (
    font-size: base.px-to-rem(base.$text-size-2xl),
    color: useColor('alphaLight', 'alpha-80'),
  ),
  mask: (
    position: fixed,
    top: 0,
    left: 0,
    z-index: 11,
    width: 100%,
    height: 100%,
    backdrop-filter: blur(0px),
    transition: all 0.3s ease-in-out,
    animation: mask-animation 0.3s ease-in-out forwards,
  ),
);

$header-bar-selector--main: '.#{base.$theme-prefix}-header-bar';
$header-bar-main: map-get($header-bar-config, main);

$header-bar-title: map-get($header-bar-config, title);
$header-bar-btn: map-get($header-bar-config, btn);
$header-bar-icons: map-get($header-bar-config, icons);

$header-bar-mask: map-get($header-bar-config, mask);


#{$header-bar-selector--main} {
  @include base.flexBox(row, center, space-between);
  @include base.getMapStyles($header-bar-main);
  &__title {
    @include base.getMapStyles($header-bar-title);
  }
  &__btn {
    @include base.flexBox(row, center, center);
    @include base.getMapStyles($header-bar-btn);
  }
  &__icons {
    @include base.getMapStyles($header-bar-icons);
  }
  &__mask {
    @include base.getMapStyles($header-bar-mask);
  }
}

@keyframes mask-animation {
  0% {
    backdrop-filter: blur(0px);
  }
  100% {
    backdrop-filter: blur(10px);
  }
}